* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stat {
    height: 40px;
    width: 100%;
    display: inline-flex;
    margin: 20px;
    border: solid 1px;
    border-radius: 16px;
    padding-top: 12px;
}

.stat div {
    padding-left: 20px;
    font-size: 20px;
}

.balance-info {
    display: inline-flex;
}

.center {
    width: 800px;
    margin: auto;
}

.block {
    height: 200px;
    width: 100%;
    display: inline-flex;
    margin: 20px;
    border: solid 1px;
    border-radius: 16px;
}

.img-job {
    height: 150px;
    border-radius: 16px;
    margin: 12px;
}

.info {
    margin: 12px;
    padding-left: 15px;
    margin-top: 20px;
}

.title-info {
    padding-top: 20px;
}

.progress-bar {
    height: 20px;
    background-color: #29ac38;
}

.title-buy {
    width: 140px;
    margin: auto;
}

.btn-buy {
    width: 200px;
    font-size: 18px;
}

.div-btn {
    width: 200px;
    margin: auto;
}